
<div class="non-pad col-md-12" style="margin-bottom: 24px;">
    <h6 class="" style="padding: 0 20px;">VENUE : Centara & Convention Centre Hotel, Hanoi</h6>

    <table class="table table-bordered hotel_desktop">
        <thead>
            <tr>
                <th class="text-center warning" style="width: 135px;"><p class="text-bold">Room Type</p></th>
                <th class="text-center warning" colspan="2">
                    <p class="text-bold">Room Rate with Breakfast</p>
                    (Inclusive of Service Charge, VAT and Goverment and Local Taxes)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2" class="warning">Superior</td>
                <td class="warning">
                    <ul class="room-type-p ">
                        <li class="w130 warning">Single</li>
                        <li class="warning">1,500,000 VND</li>
                    </ul>
                </td>
                <td class="warning chk_type_box">
                    <div class="col-sm-6">
                        <label class="radio-inline">
                            <input type="radio" name="sec2_typeroom" class="styled cbox-type troom1" value="1">
                            Smoking
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="radio-inline">
                            <input type="radio" name="sec2_typeroom" class="styled cbox-type" value="2">
                            Non-smoking
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="warning">
                    <ul class="room-type-p">
                        <li class="w130">Twin Sharing</li>
                        <li>1,700,000 VND</li>
                    </ul>
                </td>
                <td class="warning chk_type_box">
                    <div class="col-sm-6">
                        <label class="radio-inline">
                            <input type="radio" name="sec2_typeroom" class="styled cbox-type" value="3">
                            Smoking
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="radio-inline">
                            <input type="radio" name="sec2_typeroom" class="styled cbox-type" value="4">
                            Non-smoking
                        </label>
                    </div>
                </td>
            </tr>


        </tbody>
    </table>


    <label class="roomtype-msg validation-err-label pull-right" style="display: none;">This room type is required.</label>
    <p style="padding:10px 0px;"><span class="text-danger">Note: 1USD ≈ 20,000 VND</span> </p>
</div>