

<ol class="carousel-indicators">
   
</ol>


<div class="carousel-inner" >
  
        <div class="item active">
            <img src="~/images/bn.jpg" class="img-responsive img-overview" alt="nha trang">
        </div>
</div>


