
<div class="row">
    <div class="col-lg-12">
        <div class="white-box">
            <div class="col-sm-12" style="padding-bottom: 10px; border-bottom: 1px solid red; margin-bottom: 20px;">
                <div class="row">
                    <h3 class="box-title m-b-0"><i class="ti-angle-double-right" style="padding-right:10px"></i> Quản lý ảnh slide trang chủ </h3>
                </div>
            </div>
            <div class="row m-b-20">
                <div class="col-sm-4">
                    <div class="row">
                        <button class="btn btn-primary waves-effect waves-light" type="button" id="btn-add-image">
                            <span class="btn-label">
                                <i class="ti-plus"></i>
                            </span>@(ASS_35.Resources.HomeText.ButtonAddNew)
                        </button>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        @Html.Action("ListStatusActiveAndDeActive", "Common", new { name = "cbx-status", isAdmin = true, hasAll = true })
                    </div>
                </div>
            </div>
            <div id="table-container">
                @Html.Action("_ListImage", "Slide",new {site= 1})
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        BindButtonAddAccountClick();
        BindButtonStatusChange();
    });    
    function BindButtonAddAccountClick() {
        $("#btn-add-image").on('click',
            function() {
                LoadPage("/Slide/AddImage");
            });
    }

    function BindButtonStatusChange() {
        $("#cbx-status").change(function () {
            var statusId = $(this).val();
            var data = {
                status: statusId
            };
            LoadPartialView('@Url.Action("_ListImage", "Slide")', "#table-container", data);
        });
    }
</script>



