@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutVi.cshtml";
}
<style>
    /*.overview .container {
         width: 90% !important;
        margin-left: 5%;
    }*/

    .overview {
        padding-bottom: 150px;
    }

    .menu {
        margin-bottom: 0px !important;
    }

    .container.practical {
        width: 100% !important;
    }
</style>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    @Html.Action("SlideTop", "HoiNghi")
</div>

<div class="overview">
    <div class="container">
        @Html.Action("GioiThieuHoiNghi", "HoiNghi")
    </div>
</div>
