
@using DataContext.Constants
@using DataContext.Until;
@if (ViewBag.id == SystemMessageConst.StatusConst.Active)
{
    <span class="label label-table label-success">@(DisplayUntils.ReturnMessageBylanguage(SystemMessageConst.AccountStatusConst.NotificaActive, SystemMessageConst.AccountStatusConst.NotificaActiveEn))</span>
}
@if (ViewBag.id == SystemMessageConst.StatusConst.Pending)
{
    <span class="label label-table label-warning">@(DisplayUntils.ReturnMessageBylanguage(SystemMessageConst.AccountStatusConst.Pending, SystemMessageConst.AccountStatusConst.PendingEn))</span>
}
@if (ViewBag.id == SystemMessageConst.StatusConst.Deactive)
{
    <span class="label label-table label-danger">@(DisplayUntils.ReturnMessageBylanguage(SystemMessageConst.AccountStatusConst.DeactiveEn, SystemMessageConst.AccountStatusConst.Deactive))</span>
}
@if (ViewBag.id == SystemMessageConst.StatusConst.SaveDraft)
{
    <span class="label label-table label-default">@(DisplayUntils.ReturnMessageBylanguage(SystemMessageConst.AccountStatusConst.Draft, SystemMessageConst.AccountStatusConst.DraftEn))</span>
}


