 <div class="form-group text-left">
    <label class="control-label">@(ASS_35.Resources.HomeText.CurrentStatus)</label>
     <input type="text" class="form-control" value="@ViewBag.value" readonly="readonly">
 </div>
